{{!-- Main user interface layout template --}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Blog Post Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            {{> navigation}}
        </header>
        <main>
            <!-- we're going to render the all view and inject it(the all.handlebars template) here where the body placeholder is -->
            {{{ body}}}
        </main>
        <footer> tech blog</footer>
    </body>
</html>