<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
{{!-- this gets injected into the main.handlebars where {{{ body }}} is located --}}
<div>
    
</div>